# MovieLens data examples

Here we explore some data from the MovieLens database (https://grouplens.org/datasets/movielens/). We'll do some exploratory data analysis, visualization, and use some machine learning algorithms.

## Summary of process and tools used

1. Acquire data as csv files from the grouplens website
2. Run Python through Jupyter Notebook
3. Load csv file into pandas dataframe
4. Perform data analysis, visualization, and use machine learning algorithms
5. Control versions and save to Github using Git
6. Done on Mac OS X with Bash shell

## Exploratory data analysis

First we load packages.

In [1]:
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
plt.style.use('ggplot')
import pandas as pd
from scipy import stats
import time

Here we load the csv file as a pandas dataframe. We could also load it into a MySQL table and connect to a database, as is done in the mpg_project file.

In [2]:
df_ratings = pd.read_csv('ml-latest-small/ratings.csv')

Here we take a quick look at the header.

In [3]:
print(type(df_ratings))
print(list(df_ratings))

<class 'pandas.core.frame.DataFrame'>
['userId', 'movieId', 'rating', 'timestamp']

Let's take a look at the first five rows to get a feel for the data. The README.txt file included with the csv files explains more about the column fields. In short, userId and movieId ate unique tags, the ratings are from 0.5 to 5 stars in half star increments, and "Timestamps represent seconds since midnight Coordinated Universal Time (UTC) of January 1, 1970."

In [4]:
df_ratings[:5]

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

Here's the mean and mode of the ratings. They're a couple notches above the midpoint of the rating system which is $2.75 = (5-0.5)/2+0.5$. It looks like the reviewers are generally positive!

In [5]:
print('%.2f' % np.mean(df_ratings['rating'])) #prints two decimal places
print(stats.mode(df_ratings['rating'])[0][0]) #used scipy, and mode returns an array so we use [0][0] at the end

3.54
4.0

Let's see how to convert a timestamp to a more recognizable format, and get a sense of the distribution of the reviews over time.

In [6]:
#df_ratings[:1].timestamp[0] #the timestamp of the first entry
print(time.strftime('%Y-%m-%d', time.localtime(df_ratings[:1].timestamp[0])))
#time.strftime("%Y-%m-%d %H:%M:%S", time.gmtime(df_ratings[:1].timestamp[0])) #alternative

2009-12-13

In [7]:
#Count timestamps for each day and plot a line graph